<table class="w-full" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <!-- Header content -->
  <tr>
    <td
      class="email-pad px-8 py-5 bg-neutral-950 border-b border-neutral-800"
      style="background-image: linear-gradient(#171717, #171717);"
    >
      <table class="w-full" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td align="center" style="text-align: center;">
            <table cellpadding="0" cellspacing="0" role="presentation" style="margin: 0 auto;">
              <tr>
                <td style="vertical-align: middle; padding-right: 6px;">
                  <img
                    src="https://moneat.io/favicon.svg"
                    width="24"
                    height="24"
                    alt=""
                    style="
                      display: block;
                      width: 24px;
                      height: 24px;
                      border: 0;
                      outline: none;
                      text-decoration: none;
                    "
                  >
                </td>
                <td style="vertical-align: middle;">
                  <div class="gmail-blend-screen">
                    <div class="gmail-blend-difference">
                      <p
                        class="m-0"
                        style="
                          font-size: 19px;
                          line-height: 24px;
                          font-weight: 700;
                          color: #ffffff !important;
                          text-shadow: 0 0 0 #ffffff;
                        "
                      >moneat</p>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
